<div>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper mt-4">
                <img src="https://cdn0.fahasa.com/media/magentothem/banner7/disney-resize-t6.jpg" alt="Random first slide" width="100%" height="100%">
            </div>
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="https://cdn0.fahasa.com/media/magentothem/banner7/Mega_T062022_MAINBANNER.jpg" width="100%" height="100%">

            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="https://cdn0.fahasa.com/media/magentothem/banner7/zalo-osc-t6-840.jpg" width="100%" height="100%">

            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="https://cdn0.fahasa.com/media/magentothem/banner7/Ehon_840x320.jpg" alt="Random first slide" width="100%" height="100%">

            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>