<div class="container">
    <div class="flex">
        <div>
            <app-advise></app-advise>
        </div>
        <div class="banner bg-[white] w-[1000px] scroll-mb-[10px]">
            <app-banner-slideshow></app-banner-slideshow>
        </div>
    </div>

    <article class=" mx-auto w-[1200px] ">

        <app-products-list></app-products-list>
    </article>
    <div class="conten my-[20px]">
        <h1 class="font-bold text-[20px] py-[20px]">New Arrivals</h1>

        <div>
            <div class="banner2 my-[20px]">
                <img src="https://cdn0.fahasa.com/media/magentothem/banner7/FAHASA840x320.png" alt="" width="100%">
            </div>
        </div>
    </div>
    <app-post-list></app-post-list>

    <div class="bg-[#f2e4ab] grid grid-cols-2 gap-1 my-[20px] ">
        <div class="img-1 my-[20px]">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2022/1980_062022_310x210.png
" alt="" class=" w-[85%] m-16">
        </div>
        <div class="conten2 py-[20%] mr-4 ">
            <h1 class="font-bold text-[30px] text-center">Download FAHASA App Now!</h1>
            <p class="py-[10px] mr-4">Shopping fastly and easily more with our app. Get a link to download the app on your phone</p>
            <form action="" class="w-[700px] flex mr-4 ">
                <input type="text" class="h-10 w-8/12 pl-3 rounded-sm" placeholder="Email Address">
                <div>
                    <button class="bg-[red] text-[#ffffff] hover:text-[#DCE800] px-[20px] py-[8px] rounded-r-lg">Subscribe</button>
                </div>
            </form>
        </div>

    </div>

</div>